<style>
    form,h2{
        margin-left: 2.5%;
    }
</style>
<br><br>
<section class="mt-5">
    <div class="bg-light py-5">
      <div class="container">
        <div class="d-flex justify-content-between">
          <h1 class="fw-bold">Thêm sản phẩm mới</h1>
          <nav class="pt-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="nav-link" href="#!/product">List Products</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Products</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</section>
<br>
<form style="width: 95%">
  <div>
      <label class="form-label mt-2 ">ID</label>
      <input type="text" class="form-control" value="AUTO NUMBER" readonly>
    </div>
  </div>
  <div>
      <label class="form-label mt-2">Tên sản phẩm</label>
      <input type="text" class="form-control" ng-model="inputValue.name">
      <span ng-show="kiemTraDuLieu.name == true" style="color: red;">⚠️Vui lòng nhập tên</span>
  </div>
  <div>
    <label class="form-label mt-2">URL ảnh</label>
    <!-- Thêm onchange="setImagePreview()" vào input type file -->
    <input type="text" class="form-control" ng-model="inputValue.image">
    <!-- Các thông báo lỗi nếu cần -->
    <span ng-show="kiemTraDuLieu.image == true" style="color: red;">⚠️Vui lòng nhập url hình ảnh</span>
  </div>
   
  <div>
      <label class="form-label mt-2 ">Giá sản phẩm</label>
      <input type="text" class="form-control" ng-model="inputValue.price">
      <span ng-show="kiemTraDuLieu.price == true" style="color: red;">⚠️Vui lòng nhập giá</span>
  </div>
  <div>
      <label class="form-label mt-2">Loại sản phẩm</label>
      <select class="form-control" ng-model="editProduct.category" ng-options="category.id as category.name for category in categories">
          <option value="" hidden>--- Lựa chọn danh mục ---</option>
      </select>
      <span ng-show="kiemTraDuLieu.category == true" style="color: red;">⚠️Vui lòng chọn loại sản phẩm</span>
  </div>
  <button href="" class="btn btn-primary  mt-4" ng-click="onSubmit()">Thêm</button>
  <a href="#!list_product" class="btn btn-info mt-4" style="margin-left: -1px;">Quay lại</a>
</form>

<br><br>
