<!-- Designed by Arunlal Panja -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Arunlal Panja">
  <title>Contact</title>

</head>

<body>
  <!-- Breadcrumb Block -->
  <section class="mt-5">
    <div class="bg-light py-5">
      <div class="container">
        <div class="d-flex justify-content-between">
          <h1 class="fw-bold">Contact us</h1>
          <nav class="pt-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="nav-link" href="#!/home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <main>
    <div class="container py-5">
      <div class="row g-5">
        <!-- Contact Information Block -->
        <div class="col-xl-6">
         
          <div class="row row-cols-md-2 g-4">
            <div class="aos-item" data-aos="fade-up" data-aos-delay="200">
              <div class="aos-item__inner">
                  <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                      <div class="d-flex justify-content-start">
                          <i class="fa-solid fa-envelope h3 pe-2"></i>
                          <span class="h5">Email</span>
                      </div>
                      <span onclick="myFunction(this)">anhnhtph41946@fpt.edu.vn</span>
                  </div>
              </div>
          </div>
            <div class="aos-item" data-aos="fade-up" data-aos-delay="400">
              <div class="aos-item__inner">
                  <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                      <div class="d-flex justify-content-start">
                          <i class="fa-solid fa-phone h3 pe-2"></i>
                          <span class="h5">Phone</span>
                      </div>
                      <span onclick="myFunction(this)">+84 949-458-541</span>
                  </div>
              </div>
          </div>
          </div>
          <div class="aos-item mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="aos-item__inner">
                <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                    <div class="d-flex justify-content-start">
                        <i class="fa-solid fa-location-pin h3 pe-2"></i>
                        <span class="h5">Office location</span>
                    </div>
                    <span onclick="myFunction(this)">67 Ng. 132 Đ. Cầu Diễn, Minh Khai, Từ Liêm, Hà Nội, Việt Nam</span>
                </div>
            </div>
        </div>
          <div class="aos-item" data-aos="fade-up" data-aos-delay="800">
            <div class="mt-4 w-100 aos-item__inner">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.506363261935!2d105.73675367471503!3d21.05242878696628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454f760d65d2f%3A0xd1d280c891d1bb44!2zNjcgTmcuIDEzMiDEkC4gQ-G6p3UgRGnhu4VuLCBNaW5oIEtoYWksIFThu6sgTGnDqm0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1711791054703!5m2!1svi!2s" width="100%" height="345" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>

        <!-- Contact Form Block -->
        <div class="col-xl-6">
          <h2 class="pb-4">Leave a message</h2>
          <div class="row g-4">
            <div class="col-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">Lastname</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="John">
            </div>
            <div class="col-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label">Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Doe">
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="+1234567890">
          </div>
          <div class="mb-3">
            <label for="countrySelect" class="form-label country">Country</label>
            <select id="countrySelect" class="form-select" aria-label="Default select example" onchange="loadStates()">
              <option selected>Select City</option>
            </select>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
          <script>
              var config = { cUrl: 'https://api.countrystatecity.in/v1/countries', ckey: 'NHhvOEcyWk50N2Vna3VFTE00bFp3MjFKR0ZEOUhkZlg4RTk1MlJlaA=='}
              var countrySelect = document.querySelector('.country'),
              stateSelect = document.querySelector('.state'),
              citySelect = document.querySelector('.city')


      function loadCountries() {

          let apiEndPoint = config.cUrl

          fetch(apiEndPoint, {headers: {"X-CSCAPI-KEY": config.ckey}})
          .then(Response => Response.json())
          .then(data => {
              // console.log(data);

              data.forEach(country => {
                  const option = document.createElement('option')
                  option.value = country.iso2
                  option.textContent = country.name 
                  countrySelect.appendChild(option)
              })
          })
          .catch(error => console.error('Error loading countries:', error))

          stateSelect.disabled = true
          citySelect.disabled = true
          stateSelect.style.pointerEvents = 'none'
          citySelect.style.pointerEvents = 'none'
      }


      function loadStates() {
          stateSelect.disabled = false
          citySelect.disabled = true
          stateSelect.style.pointerEvents = 'auto'
          citySelect.style.pointerEvents = 'none'

          const selectedCountryCode = countrySelect.value
          // console.log(selectedCountryCode);
          stateSelect.innerHTML = '<option value="">Select State</option>' // for clearing the existing states
          citySelect.innerHTML = '<option value="">Select City</option>' // Clear existing city options

          fetch(`${config.cUrl}/${selectedCountryCode}/states`, {headers: {"X-CSCAPI-KEY": config.ckey}})
          .then(response => response.json())
          .then(data => {
              // console.log(data);

              data.forEach(state => {
                  const option = document.createElement('option')
                  option.value = state.iso2
                  option.textContent = state.name 
                  stateSelect.appendChild(option)
              })
          })
          .catch(error => console.error('Error loading countries:', error))
      }


      function loadCities() {
          citySelect.disabled = false
          citySelect.style.pointerEvents = 'auto'

          const selectedCountryCode = countrySelect.value
          const selectedStateCode = stateSelect.value
          // console.log(selectedCountryCode, selectedStateCode);

          citySelect.innerHTML = '<option value="">Select City</option>' // Clear existing city options

          fetch(`${config.cUrl}/${selectedCountryCode}/states/${selectedStateCode}/cities`, {headers: {"X-CSCAPI-KEY": config.ckey}})
          .then(response => response.json())
          .then(data => {
              // console.log(data);

              data.forEach(city => {
                  const option = document.createElement('option')
                  option.value = city.iso2
                  option.textContent = city.name 
                  citySelect.appendChild(option)
              })
          })
      }

      window.onload = loadCountries
          </script>
        
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="button" class="btn btn-dark">Send Message</button>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer Block -->
  <footer id="site-footer">
    <div class="bg-success bg-opacity-25 py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xl-3 col-sm-12">
            <h5 class="pb-3"><i class="fa-solid fa-user-group pe-1"></i> About us</h5>
            <span class="text-secondary">This is a wider card with supporting text below as a natural lead-in to additional content.</span>
          </div>
          <div class="col-md-6 col-xl-3 col-sm-12">
            <h5 class="pb-3"><i class="fa-solid fa-link pe-1"></i> Important links</h5>
            <ul>
              <li><a href="#" class="text-decoration-none link-secondary">About us</a></li>
              <li><a href="#" class="text-decoration-none link-secondary">Privacy policy</a></li>
              <li><a href="#" class="text-decoration-none link-secondary">Terms of services</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xl-3 col-sm-12">
            <h5 class="pb-3"><i class="fa-solid fa-location-dot pe-1"></i> Our location</h5>
            <span class="text-secondary">
              Milannagar bazar<br>
              Tamluk, East Medinipore, West Bengal<br>
              720001, India<br>
            </span>
          </div>
          <div class="col-md-6 col-xl-3 col-sm-12">
            <h5 class="pb-3"><i class="fa-solid fa-paper-plane pe-1"></i> Stay updated</h5>
            <form>
              <input type="text" class="w-100 mb-2 form-control" name="" placeholder="Email ID">
              <button class="w-100 btn btn-dark">Subscribe now</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </footer>
</body>

</html>